<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bd51_ring2.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,94},{180,100}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,100}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>bd56_boost1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{28,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,54}}</string>
                <key>sourceSize</key>
                <string>{28,54}</string>
            </dict>
            <key>bld_07_frc05a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,476},{84,154}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{84,154}}</string>
                <key>sourceSize</key>
                <string>{84,156}</string>
            </dict>
            <key>bld_07_frc05a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,196},{60,154}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{60,154}}</string>
                <key>sourceSize</key>
                <string>{84,156}</string>
            </dict>
            <key>bld_frb01.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,156},{90,400}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,6},{90,400}}</string>
                <key>sourceSize</key>
                <string>{160,420}</string>
            </dict>
            <key>bld_frb02.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,336},{138,138}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{138,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>bld_frb03.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,196},{140,138}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>bld_frb04.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,156},{152,414}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{152,414}}</string>
                <key>sourceSize</key>
                <string>{160,420}</string>
            </dict>
            <key>bld_frb05.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,156},{154,402}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{154,402}}</string>
                <key>sourceSize</key>
                <string>{160,420}</string>
            </dict>
            <key>bld_frb06.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,156},{114,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,3},{114,414}}</string>
                <key>sourceSize</key>
                <string>{160,420}</string>
            </dict>
            <key>bld_frb07.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,156},{116,416}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,2},{116,416}}</string>
                <key>sourceSize</key>
                <string>{160,420}</string>
            </dict>
            <key>bld_frb07a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,352},{98,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{98,120}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>bld_frb07a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,560},{140,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{140,98}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>bld_frb07a3.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,562},{126,106}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,21},{126,106}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>bld_frc05a.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,474},{40,116}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{40,116}}</string>
                <key>sourceSize</key>
                <string>{50,160}</string>
            </dict>
            <key>bld_frc05b.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,614},{46,160}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,160}}</string>
                <key>sourceSize</key>
                <string>{50,160}</string>
            </dict>
            <key>bld_frc05c.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,562},{50,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,160}}</string>
                <key>sourceSize</key>
                <string>{50,160}</string>
            </dict>
            <key>bld_frf05_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,572},{76,160}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{76,160}}</string>
                <key>sourceSize</key>
                <string>{90,206}</string>
            </dict>
            <key>bld_frf05_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,574},{82,188}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{82,188}}</string>
                <key>sourceSize</key>
                <string>{90,206}</string>
            </dict>
            <key>bld_frf05_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{90,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,206}}</string>
                <key>sourceSize</key>
                <string>{90,206}</string>
            </dict>
            <key>bld_frf06_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,90},{64,632}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{64,632}}</string>
                <key>sourceSize</key>
                <string>{140,634}</string>
            </dict>
            <key>bld_frf06_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{86,634}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{86,634}}</string>
                <key>sourceSize</key>
                <string>{140,634}</string>
            </dict>
            <key>bld_frf06_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,632}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{130,632}}</string>
                <key>sourceSize</key>
                <string>{140,634}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet.png</string>
            <key>size</key>
            <string>{1011,670}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b56dc80e279cedd19196ba9cd5ba5d3$</string>
            <key>textureFileName</key>
            <string>bullet.png</string>
        </dict>
    </dict>
</plist>
