<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,308},{121,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,249}}</string>
                <key>sourceSize</key>
                <string>{121,249}</string>
            </dict>
            <key>a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,732},{108,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,269}}</string>
                <key>sourceSize</key>
                <string>{108,269}</string>
            </dict>
            <key>a3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{109,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,279}}</string>
                <key>sourceSize</key>
                <string>{109,279}</string>
            </dict>
            <key>a4.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,704},{115,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,269}}</string>
                <key>sourceSize</key>
                <string>{115,269}</string>
            </dict>
            <key>e02_arm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,550},{56,98}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,98}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>e02_arm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,380},{56,98}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,98}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>e02_body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,719},{122,78}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{122,78}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>e02_eye2_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,650},{64,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{64,16}}</string>
                <key>sourceSize</key>
                <string>{70,16}</string>
            </dict>
            <key>e02_foot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,886},{46,60}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{46,60}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>e02_foot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,838},{46,60}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{46,60}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>e02_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,550},{128,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{128,110}}</string>
                <key>sourceSize</key>
                <string>{130,110}</string>
            </dict>
            <key>e02_sya1.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,480},{42,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{42,68}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>e02_sya2.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,210},{42,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{42,68}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>e02_tail1.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,946},{18,50}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{18,50}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e02_tail2.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,960},{20,50}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{20,50}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e02_tail3.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,894},{18,50}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{18,50}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e02_tail4.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,938},{20,50}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{20,50}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e02_tail5.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,916},{20,50}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{20,50}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e02_tail6.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,960},{18,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{18,50}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e02_tail7_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,934},{30,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,52}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e06_arm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,280},{56,98}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,98}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>e06_arm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,780},{56,98}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,98}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>e06_body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,210},{122,78}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{122,78}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>e06_eye2_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,650},{64,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{64,16}}</string>
                <key>sourceSize</key>
                <string>{70,16}</string>
            </dict>
            <key>e06_foot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,792},{46,60}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{46,60}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>e06_foot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,730},{46,60}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{46,60}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>e06_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,420},{128,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{128,110}}</string>
                <key>sourceSize</key>
                <string>{130,110}</string>
            </dict>
            <key>e06_sya1.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,979},{42,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{42,68}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>e06_sya2.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,979},{42,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{42,68}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>e06_tail1.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,894},{20,50}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{20,50}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e06_tail2.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,960},{18,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{18,50}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e06_tail3.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,966},{18,50}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{18,50}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e06_tail4.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,424},{20,50}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{20,50}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e06_tail5.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,476},{18,50}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{18,50}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e06_tail6.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,372},{20,50}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{20,50}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e06_tail7_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,840},{30,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,52}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e09_arm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,680},{56,98}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,98}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>e09_arm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,680},{56,98}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,98}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>e09_body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,843},{92,76}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,4},{92,76}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>e09_eye2_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,480},{64,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{64,16}}</string>
                <key>sourceSize</key>
                <string>{70,16}</string>
            </dict>
            <key>e09_foot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,668},{46,60}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{46,60}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>e09_foot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,975},{46,60}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{46,60}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>e09_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,290},{128,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{128,110}}</string>
                <key>sourceSize</key>
                <string>{130,110}</string>
            </dict>
            <key>e09_sya1.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,979},{42,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{42,68}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>e09_sya2.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,979},{42,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{42,68}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>e09_tail1.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,320},{20,50}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{20,50}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e09_tail2.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,268},{20,50}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{20,50}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e09_tail3.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,872},{18,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{18,50}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e09_tail4.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1003},{18,50}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{18,50}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e09_tail5.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,872},{20,50}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{20,50}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e09_tail6.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1003},{18,50}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{18,50}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e09_tail7_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,838},{30,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,52}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>eff_meteo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,966},{38,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>eff_meteo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{202,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{202,206}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>eff_meteo_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,559},{158,158}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,28},{158,158}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>eff_meteo_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,728}}</string>
                <key>offset</key>
                <string>{1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,80},{186,728}}</string>
                <key>sourceSize</key>
                <string>{210,808}</string>
            </dict>
            <key>eff_meteo_bakuhatsu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,308},{204,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{204,208}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>eff_meteo_bakuhatsu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,849},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>eff_meteo_bakuhatsu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{304,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{304,304}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>eff_meteo_bakuhatsu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,518},{182,184}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{182,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>iron_warning01.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,719},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>iron_warning02.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,210},{50,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,36},{50,56}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>iron_warning03.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,937},{40,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,90}}</string>
                <key>sourceSize</key>
                <string>{40,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemy.png</string>
            <key>size</key>
            <string>{716,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72fc5e85fb9c240c8cb3d3c85017ae3b$</string>
            <key>textureFileName</key>
            <string>enemy.png</string>
        </dict>
    </dict>
</plist>
