<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obs_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{126,136}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{126,136}}</string>
                <key>sourceSize</key>
                <string>{128,140}</string>
            </dict>
            <key>obs_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{128,138}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,140}</string>
            </dict>
            <key>obs_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{128,138}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,140}</string>
            </dict>
            <key>obs_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,138}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,140}</string>
            </dict>
            <key>obs_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{128,138}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,140}</string>
            </dict>
            <key>obs_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{128,138}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rock.png</string>
            <key>size</key>
            <string>{520,142}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81a6f19388d8d833c2f18b6da7610ef9$</string>
            <key>textureFileName</key>
            <string>rock.png</string>
        </dict>
    </dict>
</plist>
