<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{121,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,249}}</string>
                <key>sourceSize</key>
                <string>{121,249}</string>
            </dict>
            <key>a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{108,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,269}}</string>
                <key>sourceSize</key>
                <string>{108,269}</string>
            </dict>
            <key>a3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{109,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,279}}</string>
                <key>sourceSize</key>
                <string>{109,279}</string>
            </dict>
            <key>a4.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,2},{115,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,269}}</string>
                <key>sourceSize</key>
                <string>{115,269}</string>
            </dict>
            <key>e02_arm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,118},{56,98}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,98}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>e02_arm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,60},{56,98}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,98}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>e02_body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,2},{122,78}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{122,78}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>e02_eye2_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,244},{64,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{64,16}}</string>
                <key>sourceSize</key>
                <string>{70,16}</string>
            </dict>
            <key>e02_foot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,273},{46,60}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{46,60}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>e02_foot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,273},{46,60}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{46,60}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>e02_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,132},{128,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{128,110}}</string>
                <key>sourceSize</key>
                <string>{130,110}</string>
            </dict>
            <key>e02_sya1.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,2},{42,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{42,68}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>e02_sya2.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,244},{42,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{42,68}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>e02_tail1.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,290},{18,50}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{18,50}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e02_tail2.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,242},{20,50}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{20,50}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e02_tail3.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,270},{18,50}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{18,50}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e02_tail4.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,228},{20,50}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{20,50}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e02_tail5.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,220},{20,50}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{20,50}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e02_tail6.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,250},{18,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{18,50}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e02_tail7_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,283},{30,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,52}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e06_arm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,2},{56,98}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,98}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>e06_arm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,126},{56,98}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,98}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>e06_body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,2},{122,78}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{122,78}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>e06_eye2_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,244},{64,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{64,16}}</string>
                <key>sourceSize</key>
                <string>{70,16}</string>
            </dict>
            <key>e06_foot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,273},{46,60}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{46,60}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>e06_foot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,273},{46,60}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{46,60}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>e06_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,2},{128,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{128,110}}</string>
                <key>sourceSize</key>
                <string>{130,110}</string>
            </dict>
            <key>e06_sya1.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,244},{42,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{42,68}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>e06_sya2.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,244},{42,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{42,68}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>e06_tail1.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,198},{20,50}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{20,50}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e06_tail2.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,264},{18,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{18,50}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e06_tail3.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,264},{18,50}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{18,50}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e06_tail4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,176},{20,50}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{20,50}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e06_tail5.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,264},{18,50}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{18,50}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e06_tail6.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,176},{20,50}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{20,50}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e06_tail7_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,283},{30,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,52}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e09_arm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,126},{56,98}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,98}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>e09_arm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,126},{56,98}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,98}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>e09_body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,226},{92,76}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,4},{92,76}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>e09_eye2_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,226},{64,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{64,16}}</string>
                <key>sourceSize</key>
                <string>{70,16}</string>
            </dict>
            <key>e09_foot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,273},{46,60}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{46,60}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>e09_foot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,273},{46,60}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{46,60}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>e09_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,132},{128,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{128,110}}</string>
                <key>sourceSize</key>
                <string>{130,110}</string>
            </dict>
            <key>e09_sya1.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,244},{42,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{42,68}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>e09_sya2.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,244},{42,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{42,68}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>e09_tail1.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,198},{20,50}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{20,50}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e09_tail2.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,176},{20,50}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{20,50}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e09_tail3.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,253},{18,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{18,50}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e09_tail4.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,253},{18,50}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{18,50}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e09_tail5.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,124},{20,50}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{20,50}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e09_tail6.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,253},{18,50}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{18,50}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>e09_tail7_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{30,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,52}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>iron_warning01.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>iron_warning02.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,72},{50,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,36},{50,56}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>iron_warning03.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,226},{40,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,90}}</string>
                <key>sourceSize</key>
                <string>{40,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemy.png</string>
            <key>size</key>
            <string>{1023,321}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b6c0e40967bba408ce272096b28e5da$</string>
            <key>textureFileName</key>
            <string>enemy.png</string>
        </dict>
    </dict>
</plist>
